* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(14, 14, 14, 0.764);
  font-family: sans-serif;
  cursor: url("./assets/crosshairs.png") 16 16, auto;
}

.container {
  display: flex;
  justify-content: center;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}
